<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="TestFileLocation" value="C:\temp\FaresListImplementation\"/>
    <add key="TestExcelFile" value="FSITest.xlsm"/>
    <add key="SiteLists_xlsx" value="Site Lists.xlsm"/>
  </appSettings>
</configuration>