<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="TestFileLocation" value="C:\temp\FaresListImplementation\"/>
    <add key="TestExcelFile" value="FSITestFileXLS.xlsm"/>
    <add key="SiteLists_xlsx" value="Site Lists.xlsx"/>
  </appSettings>
</configuration>